.cinemaRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 640px;
  height: 365px; }
  .cinemaRank .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%; }
    .cinemaRank .wrapper .inner {
      margin-top: 20px;
      overflow: hidden; }
      .cinemaRank .wrapper .inner table {
        transition: all .5s; }

.top-1 td:first-child {
  border-left: 4px solid #E73120; }

.top-1 td:last-child {
  border-radius: 0 4px 4px 0; }

.top-2 td:first-child {
  border-left: 4px solid #FB652B; }

.top-2 td:last-child {
  border-radius: 0 4px 4px 0; }

.top-3 td:first-child {
  border-left: 4px solid #E5A649; }

.top-3 td:last-child {
  border-radius: 0 4px 4px 0; }

.top-4 td:first-child {
  border-left: 4px solid #53B071; }

.top-4 td:last-child {
  border-radius: 0 4px 4px 0; }

.top-5 td:first-child {
  border-left: 4px solid #2C9AF0; }

.top-5 td:last-child {
  border-radius: 0 4px 4px 0; }
