.yueyinghuiRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 10px;
  width: 650px;
  height: 270px; }
  .yueyinghuiRank .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%; }
    .yueyinghuiRank .wrapper .inner {
      margin-top: 20px;
      overflow: hidden; }
      .yueyinghuiRank .wrapper .inner table {
        transition: all .5s; }

.yueyinghui tr td {
  padding: 0 15px;
  color: #899ba9; }

.yueyinghui .sep-row {
  height: 10px; }

.yueyinghui .serialNumber {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #2C9AF0;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 10px; }
