// 颜色定义
$color-title: #26B0FB
$color-default: #dfdfe0
$color-content: #899ba9
$color-table-head: #d0dcff

$color-boxOffice: #27c37b
$color-proportion: #ffce6a

$mask-background: #1C2A40
$mask-border-1: #E73120
$mask-border-2: #FB652B
$mask-border-3: #E5A649
$mask-border-4: #53B071
$mask-border-5: #2C9AF0
